.form-privacy-policy {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-borderform-copyright);
  max-width: 220px;
  height: 36px;
  margin: 0 auto;
  text-align: center;
}
.form-link {
  color: #4a4a4a;
  text-decoration: underline;
}
