.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;

  @media screen and (min-width: $bp-desktop) {
    font-family: "Play", sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 48px;
  }
}
.section-title .accent {
  color: var(--color-brand-light);
}
