.contact-section {
  padding-bottom: 94px;

  &__title {
    text-align: center;
    margin: 0 auto;
  }
  &__container {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-direction: row-reverse;
  }
  &__map {
    border: none;
    border-radius: 32px;
  }
}
