.contact-form {
  max-width: 100%;
  width: 423px;
  height: 481px;
  max-height: 100%;
  border-radius: 32px;
  background-color: var(--color-brand-dark);

  &__title {
    font-family: "Roboto" sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-primary-light);
    padding-top: 48px;
    padding-left: 74px;
  }
  &__input {
    padding-left: 57px;
    width: 100%;
    height: 52px;
    max-width: 310px;
    border: 2px solid var(--color-borderform-copyright);
    border-radius: 32px;
    background-color: transparent;
    margin-left: 56px;
    margin-right: 57px;
  }
  &__input:focus {
    background-color: var(--color-brand-light);
    color: var(--color-brand-dark);
  }
}

.contact-form__title .accent {
  color: var(--color-brand-light);
}

.contacts-form__field {
  margin-bottom: 16px;
}
